@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&family=Oswald&family=Roboto:wght@100;400;500;700&display=swap");
:root {
	--mainBlueBg: #182231;
	--mainBlueIconBg: #273142;
	--mainBlueFormBg: #232d3d;
	--mainBlueInputField: #e8f0fe;
	--textGray: #848072;
	--BlueSignUp: #007aff;
	--BlueSignUpHover: #076bd8;
	--textGraySignUpLinks: #feffeb;
	--BlueSignUpLinksHover: #f7352a;
	--textGray: #1833c4;
	--darkBlue: #0e1a35;
	--lightBlue: #5584ff;
	--lightGray: #8492af;
	--mainBlue: #40acf1;
	--transparentBlue: rgba(64, 172, 241, 0.7);
	--transparentSkyBlue: #d6e2fc;
	--mainWhite: #ffffff;
	--transparentGray: #eeeeee;
	--mainBlack: #292f36;
	--mainGrey: #a7a7ad;
	--lighterGrey: #ececfa;
	--mainYellow: #e3b505;
	--lightYellow: #ffb850;
	--transparentGreen: #19e5e5;
	--lightPurple: #9971d3;
	--mainPurple: #38165f;
	--deep-blue: #002333;
	--light-green: #00e677;
	--transparentGray: #f8f9fa;
	--grayBackground: #f7f7f7;
	/* FONTS */
	--roboto: "Roboto", sans-serif;
	--josefin: "Josefin Sans", sans-serif;
	--oswald: "Oswald", sans-serif;
}

/* RESET */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-variant: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
	content: "";
	content: none;
}
body,
p,
a,
ul,
ol {
	text-decoration: none;
}

li {
	list-style-type: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* GLOBALS */
html {
	overflow-x: hidden;
}
body {
	background-color: var(--mainGrey);
	overflow: hidden;
}
h1 {
	font-size: 3em;
	line-height: 1;
	margin-bottom: 0.5em;
}

h2 {
	font-size: 2em;
	margin-bottom: 0.75em;
}

h3 {
	font-size: 1.5em;
	line-height: 1;
	margin-bottom: 1em;
}

h4 {
	font-size: 1.2em;
	line-height: 1.25;
	margin-bottom: 1.25em;
}

h5,
h6 {
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 1.5em;
}
h1,
h2,
h3,
h4 {
	color: var(--mainGrey);
}
section {
	padding: 50px 0;
}
p,
ul,
ol {
	margin-bottom: 0.5em;
}
p a,
h5 a {
	font-weight: bold;
}
.font-icons {
	color: var(--transparentGreen);
}

/* BUTTONS */

.btn-outline-secondary {
	background-color: transparent !important;
	border-color: #011627 !important;
	border-radius: 0;
	position: relative;
}

.btn-outline-secondary:before {
	content: "";
	position: absolute;
	background-color: var(--mainWhite);
	top: 0;
	left: 0;
	height: 100%;
	width: 0%;
	z-index: -1;
	transition: 0.5s;
}
.btn-outline-secondary:hover:before {
	width: 100%;
}
.btn-secondary {
	background: #011627 !important;
	border-color: #011627 !important;

	border-radius: 0;
}
.btn-secondary:hover {
	color: #83f3ed !important;
}
.btn-primary {
	background: #83f3ed !important;
	border-color: #83f3ed !important;
	color: #011627 !important;
	border-radius: 0;
}
.btn-primary:hover {
	color: #83f3ed !important;

	background: #011627 !important;
}

/* NAVBAR */

#mainNav {
	background: var(--deep-blue) !important;
	font-family: var(--roboto);
}

.nav-link {
	font-size: 1em;
	text-decoration: none;
	text-transform: capitalize;
	font-weight: 500;
	font-family: var(--roboto);
	color: var(--mainWhite) !important;
}
.nav-link:hover {
	color: var(--light-green) !important;
}

/* DASHBOARD */
.main {
	margin-top: 100px;
}
.dashboard-header h2 {
	font-family: var(--roboto);
	text-transform: capitalize;
}
.dashboard-header h4 {
	font-family: var(--josefin);
	font-size: 14px;
}
.card-header {
	font-size: 24px;
	font-family: var(--josefin);
	font-weight: 700;
}
.title {
	background: var(--transparentGreen);
	width: 180px;
	padding: 4px 10px;
	height: 30px;
	margin-bottom: 20px;
	display: flex;
}
.title h2 {
	font-size: 20px;
	color: #fff;
}
.title::after {
	content: "";
	border-top: 30px solid var(--transparentGreen);
	border-right: 50px solid transparent;
	position: absolute;
	display: flex;
	margin-top: -4px;
	margin-left: 170px;
}
.card-title {
	border: 1px solid var(--mainGrey);
	padding: 13px;
	border-radius: 5px;
	font-size: 18px;
}
.overlay-right-1 {
	display: block;
	opacity: 0;
	position: absolute;
	top: 25%;
	margin-left: 0;
	width: 17px;
}
.overlay-right-2 {
	display: block;
	opacity: 0;
	position: absolute;
	top: 52%;
	margin-left: 0;
	width: 17px;
}
.overlay-right-3 {
	display: block;
	opacity: 0;
	position: absolute;
	top: 77%;
	margin-left: 0;
	width: 17px;
}
.overlay-right .fa {
	cursor: pointer;
	background-color: #fff;
	color: #000;
	height: 35px;

	width: 35px;
	font-size: 20px;
	padding: 7px;
	margin-top: 5%;
	margin-bottom: 5%;
}
.overlay-right .btn-secondary {
	background: none !important;
	border: none !important;
	box-shadow: none !important;
}

.card:hover .overlay-right {
	opacity: 1;
	margin-left: 72%;
	transition: 0.5s;
}

/* CHARTS */
/* SALES CHART */
.chart-container {
	position: relative;
	width: 600;
	height: 550;
}

/* TABLE */
td img {
	width: 39px;
	height: 39px;
}
th:not(.sku) {
	text-transform: capitalize;
}
.truncate {
	text-overflow: ellipsis;
	width: 200px;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
	resize: horizontal;
}
th a {
	text-decoration: none;
	color: #333;
}
th a:hover {
	text-decoration-color: var(--transparentGreen);
}

/* INVENTORY SIDE PANE */
.input-group.md-form.form-sm.form-1 input {
	border: 1px solid #bdbdbd;
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}
.input-group.md-form.form-sm.form-2 input {
	border: 1px solid #bdbdbd;
	border-top-left-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
}
.input-group.md-form.form-sm.form-2 input.red-border {
	border: 1px solid #ef9a9a;
}
.input-group.md-form.form-sm.form-2 input.lime-border {
	border: 1px solid #cddc39;
}
.input-group.md-form.form-sm.form-2 input.amber-border {
	border: 1px solid #ffca28;
}

/* Spinner */
.spinner img {
	width: 200px;
	margin: auto;
	display: block;
}
.filter-inv-header {
	text-transform: uppercase;
	font-weight: 100;
	font-size: 1rem;
}
